<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Crossings</title>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
</head>

<body id="page-top" class="index">

    <!-- Header -->
    <header >
        <div class="container"> 
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To</div>
                <div class="intro-heading">The Crossings at Lake Creek</div>
                <a href="#about" class="page-scroll btn btn-xl">Learn More</a>
            </div>
        </div> 
    </header>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ABOUT</h2>
                    <h3 class="section-subheading text-muted">Country Charm with City Conveniences minutes away!</h3>
                </div>
            </div>
            <div class="row text-center">
                <a href="/the_crossings" ><div class="col-lg-3 col-md-6 text-center mouse">
                    <img src="../assets/road.png">                    
                    <h4 class="about-heading">The Crossings</h4>
                    <p class="text-muted">Located just 2 miles East of Heber City’s downtown, The Crossings at Lake Creek is a community you’ll easily call home. A community where luxury comes standard. The property features 336 acres of magnificent, mountain view land and 85 acres of open space and trails. </p>
                </div></a>
                <a href="/amenities" ><div class="col-lg-3 col-md-6 text-center mouse"> 
                    <img src="../assets/playground.png">                   
                    <h4 class="about-heading">Amenities</h4>
                    <p class="text-muted">The combination of the spectacular natural attributes, thanks to Utah’s idyllic Heber Valley setting, and the development’s own incredible array of amenities is quite simply endless. We can promise you won’t find another community as beautiful as  The Crossings at Lake Creek.</p>
                </div></a>
                <a href="/heber_valley" ><div class="col-lg-3 col-md-6 text-center mouse"> 
                    <img src="../assets/valley.png">                   
                    <h4 class="about-heading">Heber Valley</h4>
                    <p class="text-muted">Heber Valley is one of the most picturesque settings in North America. It’s been a hidden gem nestled in the Wasatch Mountains for years and is just now becoming known nationally for everything it has to offer.</p>
                </div></a>
                <a href="/developer" ><div class="col-lg-3 col-md-6 text-center mouse"> 
                    <img src="../assets/women-management.png">                   
                    <h4 class="about-heading">Developer</h4>
                    <p class="text-muted">Tracey Cannon, Principle Broker & Owner of Cannon Associates, has been actively marketing and purchasing real estate properties since 1972. </p>
                </div></a>
            </div>
        </div>
    </section>


    <!-- Map -->
    <section id="location" class="map">
	    <!-- Call to Action -->
	    <aside class="call-to-action">
	        <!-- <div class="container"> -->	            
            <div class="row">
                <div class="col-md-3"><img class="index_image" src="../assets/mountain.jpg"></div>
                <div class="col-md-3"><img class="index_image" src="../assets/bryce-canyon.jpg"></div>
                <div class="col-md-3"><img class="index_image" src="../assets/mountain3.jpg"></div>
                <div class="col-md-3"><img class="index_image" src="../assets/mountains6.jpg"></div>
            </div>
	       <!--  </div> -->
	    </aside>
        <!-- <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">
                        Check out our location 
                    </h2>
                </div>   
            </div>
        </div> -->
        <div style="overflow:hidden;height:500px;resize:none;max-width:100%;"><div id="embed-map-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Old+Farm+Road,+Heber+City,+UT+84032,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><style>#embed-map-display .map-generator{max-width: 100%; max-height: 100%; background: none;</style></div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">
                        Call our Office (801) 363-2999<br>or Request Info:
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <%= bootstrap_form_for(@post, url: posts_path, :id => "contactForm") do |f| %>					
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                	<%= f.text_field :first_name, placeholder: "Your First Name *", :class => "form-control", :id => "name" %>
                    
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <%= f.text_field :last_name, placeholder: "Your Last Name *", :class => "form-control", :id => "name" %>
                    
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                	<%= f.email_field :email, placeholder: "Your Email *", id: "email"  %>
                                    
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                	<%= f.phone_field :phone, placeholder: "Your Phone *", id: "phone" %>
                                   
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                	<%= f.text_area :message, placeholder: "Your Message *", id: "message"   %>
                                    
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <%= f.submit "Send Message", :class => "btn btn-xl" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>

    <script src="../assets/map.js"></script>
    <script src="../assets/script.js"></script>
</body>

</html>
